body {
  margin: 0px;
}


  .navbar {
    font-size: 0.8em;
    height: 5em;

    background-image: url("../img/fondo2.png");
    background-size: contain;
    background-position: center center;
  }

  .navbar li a{
    display: inline-block;
    margin-left: 1em;
    color: white;
  }
  #logo {
    width: 110px;
    height: 110px;
  }

  h1 {
    text-align: center;
  }
  h3{
    text-align: center;
  }

  #titulo {
    width: 100%;
    margin-top: 3%;
    color: gray;
  }

  form {
    background-color: #070707;
    margin: 3% auto;
    padding: 1em 2em;
    color: white;
    display: block;

  }
  .form{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
  .row-a{
    
    padding:1em  6em 0 6em;
  }
  .card {
    display: inline-block;
    margin: 0em;
    padding: 0;
    height: auto;
  }
  .img-producto{
    height: 14em;
    width: 20em;
    margin: 0;
    padding: 0;
  }
 
  p {
    margin-top: 0px;
  }

  #hr {
    width: 21em;
    padding-bottom: 0em;
    margin-bottom: -1em;
    border-width: 3px;
    border-style: solid;
    margin: auto;
    margin-top: 3em;
  }

  footer {
    background-image: url("../img/fondo.jpg");
    background-size: 100% 100%;
    height: 14em;
    color: white;
    text-align: center;
  }
  .footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7em;
  }





/*
    Pantalla Extra Large (>=1200px)
*/
@media(min-width:1200px){
    .col-xl-12{width: 100%;}
    .col-xl-11{width: 91.66666667%;}
    .col-xl-10{width: 83.33333334%;}
    .col-xl-9{width: 75%;}
    .col-xl-8{width: 66.66666667%;}
    .col-xl-7{width: 58.33333334%;}
    .col-xl-6{width: 50%;}
    .col-xl-5{width: 41.66666667%;}
    .col-xl-4{width: 33.33333334%;}
    .col-xl-3{width: 25%;}
    .col-xl-2{width: 16.66666667%;}
    .col-xl-1{width: 8.33333333%;}
}

/*
    Pantalla Large (>=992px)
*/
@media(min-width:992px) and (max-width:1199px){
    .col-lg-12{width: 100%;}
    .col-lg-11{width: 91.66666667%;}
    .col-lg-10{width: 83.33333334%;}
    .col-lg-9{width: 75%;}
    .col-lg-8{width: 66.66666667%;}
    .col-lg-7{width: 58.33333334%;}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: 41.66666667%;}
    .col-lg-4{width: 33.33333334%;}
    .col-lg-3{width: 25%;}
    .col-lg-2{width: 16.66666667%;}
    .col-lg-1{width: 8.33333333%;}
}

/*
    Pantalla Medium (>=768px)
*/
@media(min-width:768px) and (max-width:991px){
    .col-md-12{width: 100%;}
    .col-md-11{width: 91.66666667%;}
    .col-md-10{width: 83.33333334%;}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.66666667%;}
    .col-md-7{width: 58.33333334%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.66666667%;}
    .col-md-4{width: 33.33333334%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.66666667%;}
    .col-md-1{width: 8.33333333%;}

  .form{
    display: none;
  }
  
}

/*
    Pantalla LSmall (>=576px)
*/
@media(min-width:576px) and (max-width:767px){
    .col-sm-12{width: 100%;}
    .col-sm-11{width: 91.66666667%;}
    .col-sm-10{width: 83.33333334%;}
    .col-sm-9{width: 75%;}
    .col-sm-8{width: 66.66666667%;}
    .col-sm-7{width: 58.33333334%;}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: 41.66666667%;}
    .col-sm-4{width: 33.33333334%;}
    .col-sm-3{width: 25%;}
    .col-sm-2{width: 16.66666667%;}
    .col-sm-1{width: 8.33333333%;}

    .form{
      display: none;
    }
    #titulo{
      width: 100%;
      color: gray;
    }
    header {
      height: 15em;
      background-image: url("../img/fondo.jpg");
      background-size: contain;
    }
  
    header li {
      display: block;
      margin-left: 1em;
      color: white;
    }
}

@media(max-width:575px){
  .form{
    display: none;
  }
  #titulo{
    width: 100%;
    margin: auto;
    font-size: 3em;
    color: gray;
  }
  header {
    height: 14em;
    background-image: url("../img/fondo.jpg");
    background-size: contain;
  }
  header li {
    display: block;
    margin-left: 1em;
    color: white;
  }
  .img-productos{
    width: 90%;
  }
  hr{
    width: 15em;
    padding-bottom: 0em;
    margin-bottom: -1em;
    border-width: 3px;
    border-style: solid;
  }
}